<div class="col s12 m6">
  <div class="card">
    <div class="card-content">
      <span class="card-title truncate">
        {{ person.name }}
      </span>
    </div>
  </div>

  <ul>
    <li>Altura: {{ person.height }}</li>
    <li>Peso: {{ person.mass }}</li>
    <li>Color de pelo: {{ person.hair_color }}</li>
    <li>Color de piel: {{ person.skin_color }}</li>
    <li>color de ojos: {{ person.birth_year }}</li>
    <li>año de nacimiento: {{ person.height }}</li>
    <li>Género: {{ person.gender }}</li>
  </ul>
</div>

